.back{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.699);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    transition: all 0.2s;
}

.hide{
    display: none;
}