.cancleBtn{
    background-color: red;
    display: block;
    margin-right: 5px;
}

 .cancleBtn:hover{
    background-color: lightcoral;
    color: black;
}

 .continueBtn{
    background-color: green;
    display: block;
}

 .continueBtn:hover{
    background-color: lightgreen;
    color: black;
}