.list{
    width: 100%;
    margin: auto;
    background-color: rgb(128, 51, 0);
    padding: 20px 10%;
    text-align: center;
    box-sizing: border-box;
}

.sale{
    font-size: 20px;
    padding: 10px 25px;
    background-color: rgb(255, 141, 10);
    border-radius: 10px;
    border: 1px solid white;
}

.sale:hover{
    background-color: coral;
}

.sale:disabled{
    background-color: rgb(207, 207, 207);
    color: rgb(65, 65, 65);
    cursor: not-allowed;
}

@media (min-width : 800px){
    .list{
        padding:20px 20%;
    }
}